<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">

    <header th:replace="fragments :: header"></header>

    <div class="m-3">
        <form method="post" style="max-width: 600px; margin: 0 auto" autocomplete="off">

            <div class="form-group row">
                <div class="col-6">
                    <label class="sr-only" for="eventTitle"><br>
                        <input id="eventTitle" class="form-control" placeholder="Event Title"
                               th:field="${event.name}" required>
                    </label>
                </div>
                    <p class="error" th:errors="${event.name}"></p>
            </div>

            <div class="form-group row">
                    <label class="sr-only" for="eventDescription"><br>
                        <textarea id="eventDescription" class="form-control" placeholder="Event Description"
                                  th:field="${event.description}"
                        ></textarea>
                    </label>
                <p class="error" th:errors="${event.description}"></p>
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <label class="sr-only"><br>Event Type</label>
                        <select th:field="${event.type}" class="form-control">
                            <option th:each="type : ${eventTypes}"
                                    th:value="${type.id}"
                                    th:text="${type.name}">
                            </option>
                        </select>
                    <a href="/event-categories/">Add Event Type</a>
                </div>
                    <p class="error" th:errors="${event.type}"></p>
            </div>

            <div class="form_group button">
                <div class="col-6"><br><br>
                    <button type="submit" class="btn btn-success" value="createEvent"/>Create</button/>
                </div>
            </div>
        </form>
    </div>

    <footer th:replace="fragments :: footer"></footer>

</body>
</html>
