<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
      <label>Username:
          <input th:value="${username}" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Password:
            <input th:value="${password}" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Verify Password:
        <input th:value="${verify}" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <input type="submit" value="Sign Up" class="btn btn-success">
    </div>
</form>
