<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">

  <header th:replace="fragments :: header"></header>



  <form th:action="@{/process_registration}" method="post" style="max-width: 600px; margin: 0 auto" th:object="${user}" >
    <div class="m-3">

      <div class="form_group row">
        <lable class="col-form-label col-4">Username</lable>
        <div class="col-8">
          <input type="text" class="form-control" th:field="${registerFormDTO.username}" required>
        </div>
      </div>

      <div class="form_group row">
        <lable class="col-form-label col-4">Password</lable>
        <div class="col-8">
          <input type="password" class="form-control" th:field="${registerFormDTO.password}" required>
          <p class="error" th:errors="${registerFormDTO.password}"></p>
        </div>
      </div>

      <div class="form_group row">
        <lable class="col-form-label col-4">Verify Password</lable>
        <div class="col-8">
          <input type="password" class="form-control" th:field="${registerFormDTO.verifyPassword}" required>
        </div>
      </div>

<!--      <div class="form_group row">-->
<!--        <lable class="col-form-label col-4">First Name</lable>-->
<!--        <div class="col-8">-->
<!--          <input type="text" class="form-control"th:field="*{firstName}" required-->
<!--                 minlength="2" maxlength="20">-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form_group row">-->
<!--        <lable class="col-form-label col-4">Last Name</lable>-->
<!--        <div class="col-8">-->
<!--          <input type="text" class="form-control"th:field="*{lastName}" required-->
<!--                 minlength="2" maxlength="20">-->
<!--        </div>-->
<!--      </div>-->

      <div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>


    </div>
  </form>

</body>
</html>