<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">
<header th:replace="fragments :: header"></header>

<div class="m-3">
  <form method="post" style="max-width: 600px; margin: 0 auto" autocomplete="off">

    <div class="form-group row">
      <div class="col-6">
        <label class="sr-only" for="eventCatType"><br>
          <input id="eventCatType" class="form-control" type="text" placeholder="Event Type"
                 th:field="${eventCategory.name}" required>
        </label>
      </div>
      <p class="error" th:errors="${eventCategory.name}"></p>
    </div>

    <div class="form_group button">
      <div class="col-6"><br>
        <button type="submit" class="btn btn-primary" value="eventCatTypes"/>Add Type</button/>
      </div>
    </div>

  </form>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>