<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">

<header th:replace="fragments :: header"></header>

<p th:unless="${types} and ${types.size()}">no categories!</p>

<div class="m-3">
  <div class="form-group row">
     <div class="col-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Event Types</th>
            </tr>
          </thead>
            <tr th:each="type : ${types}">
              <td th:text="${type.name}"></td>
            </tr>
        </table>
        <br>
        <a href="/event-categories/addType">Add Event Type</a>
        <a href="/event-categories/deleteType">Delete Event Type</a>
      </div>
  </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>