<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/script.js}"></script>
</head>
<body>

<nav th:fragment="header">
    <h1 th:text="${title}">Outdoor Events</h1>
    <ul>
        <li><a th:href="@{/events}">All Events</a></li>
        <li><a th:href="@{/events/create}">Create Event</a></li>
        <li><a th:href="@{/events/search}">Search</a></li>
        </div>
    </ul>
</nav>

</body>
</html>