<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">

<header th:replace="fragments :: header"></header>

<div class="m-3">
  <table class="table table-striped-green table-hover">
    <thead>
    <tr>
      <th>Type</th>
    </tr>
    </thead>
    <tr th:each="eventCategory : ${eventCategories}">
      <td th:text="${eventCategory.name}"></td>
    </tr>
  </table>

  <form method="post" style="max-width: 600px; margin: 0 auto" autocomplete="off">
    <th:block th:each="eventCategory : ${eventCategories}">
      <div class="form-group row">
        <label>
          <span th:text="${eventCategory.name}"></span>
          <input type="checkbox" name="eventIds" th:value="${eventCategory.id}" class="form-check-input">
        </label>
      </div>
    </th:block>

    <div class="form_group button">
      <div class="col-6"><br><br>
        <button type="submit" class="btn btn-danger" value="deleteType"/>Delete</button>
      </div>
    </div>
  </form>
</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>